# GHIDRA_HOME: Path to your Ghidra installation directory.
GHIDRA_HOME="/opt/homebrew/opt/ghidra/libexec"

# RADARE2_PATH: Path to radare2 binary (optional, defaults to searching the system PATH)
# RADARE2_PATH="/opt/homebrew/opt/radare2/bin/radare2"

# JAVA_HOME: Path to Java Home directory for Ghidra.
# JAVA_HOME="/opt/homebrew/opt/openjdk@21/libexec/openjdk.jdk/Contents/Home"
